[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/owncloud/3rdparty.git
[submodule "apps/music"]
	path = apps/music
	url = git@github.com:owncloud/music.git
[submodule "apps/gallery"]
	path = apps/gallery
	url = git@github.com:owncloud/gallery.git
