[submodule "3rdparty"]
	path = 3rdparty
	url = https://github.com/owncloud/3rdparty.git
[submodule "apps/music"]
	path = apps/music
	url = git@github.com:owncloud/music.git
[submodule "apps/news"]
	path = apps/news
	url = git@github.com:owncloud/news.git
[submodule "apps/gallery"]
	path = apps/gallery
	url = git@github.com:owncloud/gallery.git
[submodule "apps/video-bay"]
	path = apps/video-bay
	url = git@github.com:flopex/Video-Bay.git
[submodule "apps/dashboard"]
	path = apps/dashboard
	url = git@github.com:fjies/dashboard.git
